@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

*
{
    padding: 0;
    margin: 0;
}
html,body
{
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
body
{
    background-image: url(../../img/fundo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
}
main
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Conteúdo da página principal*/
/*Div container que está com a div reserve-details e box-cards*/
.reserve-container
{
    display: flex;
    position: relative;
    left:2%;
    width: 80vw;
    height: 95%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}
.reserve-details
{
    display: flex;
    background-color: white;
    width: 80%;
    height: 100%; 
    border-radius: 10px;
    margin-top: 20%;
}
.reserve-details h2
{
    margin: 0 auto;
}
/*div pai dos cards*/
.box-cards
{
    display: flex;
    width: 80%;
    height: 65%;
    gap: 4%;
}
.card
{
    background-color: white;
    padding: 2%;
    cursor: pointer;
    user-select: none;
    border-radius: 7px;
    width: 100%;
    height: 85%;
    text-align: center;
    font-size: medium;
    color: gray;
}
.card figure
{
    border-bottom: 1px solid rgba(201, 201, 201, 0.829);

}
.card p
{
    position: relative;
    bottom: 5%;
}
/*Configurações de cabeçalho*/
header
{
    background-color: black;
    box-shadow: 0 5px 15px black;
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: 'Saira', sans-serif;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9;
    white-space: nowrap;
}
.logotipo
{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 4%;

}

h1
{
    font-family: 'Bruno Ace SC', cursive;
    color: white;
}
nav
{
    align-items: center;
    position: relative;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
header ul
{
    display: flex;
    font-weight: bold;
    list-style: none;
    gap: 5rem;
}
ul> li> a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
    transition: background .3s;
}
ul> li> a:hover{
    color: rgb(0, 140, 255);
}
.box-user
{
    align-items: center;
    right:5%;
    justify-content: center;
    position: relative;
    display: flex;
    gap: 10%;
}
.box-cadastro
{
    border: 1px solid white;
    padding: 5px 6px;
    border-radius: 3px;
}
.box-cadastro:hover{
    background-color: white;
    
}
a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.box-cadastro:hover > a{
    color: rgb(0, 140, 255);
}

/*Configurações de footer*/
footer{
    width: 100%;
    background-position: center;
    background-color: #1b1b1b;
    color: lightgray;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
footer h2
{
    margin-bottom: 15px;
}
.footer-content
{
  display: grid;
}
.footer-list
{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    gap: 100px;
}
.footer-list ul
{
    display: grid;
    list-style: none;
}
/*Div onde estão as imagens de parceiros*/
.footer-partners
{
    position: relative;
    margin-top: 35px;
    margin-bottom: 25px;
    justify-content: center;
    display:grid;
    pointer-events: none;
}
/*Impedindo que as imagens sejam selecionadas*/
.footer-partners img
{
    user-select: none;
    pointer-events: none;
}
/*Região final do footer*/
.region-footer
{
    padding: 1%;
    background-color: black;
    display: flex;
    justify-content: center;
}