*
{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body
{
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    height: 100%;
}
body
{
    background-image: url(../../img/fundo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}
main
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*PÁGINA PRINCIPAL*/
/*reserve-container possui dois elementos: reserve-details e box-cards
- reserve-details responsável por abrigar inputs
- box-cards responsável por abrigar os cards.*/
.reserve-container
{
    display: flex;
    position: relative;
    left:2%;
    width: 80%;
    height: 95%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    margin-top: 20%;
}
.reserve-details
{
    display: flex;
    background-color: white;
    font-size: larger;
    padding: 2%;
    width: 80%;
    height: 100%; 
    border-radius: 10px;
}
/*ESTILIZANDO FORM*/
form
{
    width: 100%;
    display: flex;
    height: 100%;
    flex-flow: row wrap;
}
.radios-type
{
    height: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.local-rental
{
    width: 60%;
    height: 43%;
    gap: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.times-loca
{
    display: grid;
    width: 100%;
    height: 35%;
    gap: 2%;
}
.times-loca label
{
    text-align: center;
}
.tempo-retirada
{
    display: flex;
    width: 100%;
    gap: 2%;
}
.inputs-data-retirada
{
    display: grid;
    width: 75%;
}
.inputs-hora-retirada
{
    display: grid;
    width: 25%;
}
.tempo-devolucao
{
    display: flex;
    width: 100%;
    gap: 2%;
}
.inputs-data-devolucao
{
    display: grid;
    width: 75%;
}
.inputs-hora-devolucao
{
    display: grid;
    width: 25%;
}
.botao
{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 25%;
}
.botao button
{
    position: relative;
    top: 45%;
    width: 15%;
    height: 40%;
}
.inline-form
{
   display: inline;
}

.plaintext-button
{
   display: inline;
   border: none;
   background: none;
   cursor:pointer;
   color: var(--color-primary);
   font-size: 1.6rem;
}
/*div genérica*/
.times-loca input, select option
{
    text-align: center;
}
/*ESTILIZANDO CARDS*/
.box-cards
{
    display: flex;
    width: 83.5%;
    height: 65%;
    gap: 3.5%;
}
.card
{
    background-color: white;
    padding: 2%;
    pointer-events: none;
    cursor: pointer;
    user-select: none;
    border-radius: 7px;
    width: 100%;
    height: 75%;
    text-align: center;
    font-size: medium;
    color: gray;
}
.card figure
{
    height: 45%;
}
.header-card
{
    border-bottom: 1px solid rgba(201, 201, 201, 0.829);
}
.card-text
{
    position: relative;
    top: 3%;
}
/*PÁGINA DE RESULTADOS*/
.container
{
    display: flex;
    position: relative;
    left:2%;
    width: 80%;
    height: 95%;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-top: 20%;
}
.filter
{
    background-color: white;
    width: 30%;
    height: 70%;
    border-radius: 10px;
    position: relative;
    bottom: 15%;
}
.results
{
    width: 85%;
    height: 70%;
    border-radius: 10px;
    position: relative;
    bottom: 15%;
}
