@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

*
{
    padding: 0;
    margin: 0;

}
html,body
{
    box-sizing: border-box;
}
body
{
    background-image: url(../../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
main
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    
}
header
{
    background-color: black;
    box-shadow: 0 5px 15px black;
    display: flex;
    align-items: center;
    font-family: 'Saira', sans-serif;
    width: 100vw;
    position: fixed;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 9;
    white-space: nowrap;
}
.logotipo
{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: -2%;
}

h1
{
    font-family: 'Bruno Ace SC', cursive;
    color: white;
}
nav
{
    margin-left: 10%;
    color: white;
    display: flex;
    text-decoration: none;
}
header ul
{
    display: flex;
    font-weight: bold;
    list-style: none;
    gap: 100px;
}
ul> li> a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
    transition: background .3s;
}
ul> li> a:hover{
    color: rgb(0, 140, 255);
}
.box-user
{
    align-items: center;
    margin-left: 12%;
    display: flex;
    gap: 15px;
}
.box-cadastro
{
    border: 1px solid white;
    padding: 7px;
    border-radius: 3px;
}
.box-cadastro:hover{
    background-color: white;
}
a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: rgb(0, 140, 255);
}

/*Configurações de footer*/
footer{
    background-color: #1b1b1b;
    border-top: #1b1b1b;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.footer-content
{
  
}
.footer-list
{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.footer-list ul
{
    display: grid;
    list-style: none;
}