{% extends 'global/base.html' %}
{% block title %}Login{% endblock title %}
{% block interno %}
<style type="text/css">
  body
  {
    color: white;
  }
  input
  {
    height: 10%;
    text-align:center ;
  }
  .grande
  {
    font-size: 1cm;
  }
  .grande2
  {
    font-size: 20px;
  }
  .reserve-container
  {
    background-color: rgba(12, 12, 17, 0.338);
    transform: scale(0.95) ;
    align-items: center;
  }
  .inline-form
  {
    margin-left:80%;
    text-align: center;
    transform: scale3d(1.5);
    height: 4cm;
  }
  .topo
  {
    font-size: 2cm;
  }
  form
  {
    margin-left: 50%;
  }

</style>
{% endblock interno %}
{% block content %}

  <div class="reserve-container">
    <h2 class="topo">Olá</h2>
    {% if request.user.is_authenticated %}
      <p class="grande">
          Você está logado como
          {{ request.user.username }}.
          <form class="inline-form" action="{% url 'authen:logout' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ request.user.username }}" name="username">
            <button class="plaintext-button" type="submit"> <p class="grande2">Clique aqui para sair</p></button>
          </form> </p>

    {% endif %}
    <form action="{{ form_action }}" method="POST"> {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
  </div>
{% endblock content %}