{% extends 'global/base.html' %}
{% block title %}Detalhes{% endblock title %}
{% block content %}

    <div class="detalhes-container">
        <div class="detalhes-veiculo">
            <img src="" alt="">
            <h2></h2>
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="detalhes-reserva">
            <h2></h2>
            <div>
                <div></div>
                <div></div>
            </div>
            <div class="protecao"></div>
        </div>
    </div>

{% endblock content %}