{% extends 'global/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="reserve-container">
        <div class="reserve-details">
            <form action="">
                <div class="radios-type">
                    <p>Que tipo de veículo está procurando?</p> 
                        <div class="radio-veiculo">
                            <input type="radio" name="tipo-veiculo" id="carro" value="C" required/>
                            <label for="carro">Carro</label>
                        </div>
                        <div class="radio-veiculo">
                            <input type="radio" name="tipo-veiculo" id="moto" value="M" required/>
                            <label for="moto">Moto</label>
                        </div>
                </div>
                <div class="local-rental">
                    <label for="cidade">Selecione o local de retirada do veículo</label>
                    <select name="cidade" id="cidade">
                        <option value="Canguaretama">Canguaretama</option>
                        <option value="Goianinha">Goianinha</option>
                        <option value="Montanhas">Montanhas</option>
                        <option value="Pipa">Pipa</option>
                        <option value="Natal">Parnamirim</option>
                        <option value="Natal">Natal</option>
                        <option value="Natal">Ceará-Mirim</option>
                    </select>
                    <label for="cidade">Selecione o local de devolução do veículo</label>
                    <select name="cidade" id="cidade">
                        <option value="Canguaretama">Canguaretama</option>
                        <option value="Goianinha">Goianinha</option>
                        <option value="Montanhas">Montanhas</option>
                        <option value="Pipa">Pipa</option>
                        <option value="Natal">Parnamirim</option>
                        <option value="Natal">Natal</option>
                        <option value="Natal">Ceará-Mirim</option>
                    </select>
                </div>
                <div class="times-loca">
                    <div class="tempo-retirada">
                        <div class="inputs-data-retirada">
                            <label for="data-retirada">Data de retirada do veículo</label>
                            <input type="date" name="data-retirada" id="dt-retirada" required/>
                        </div>
                        <div class="inputs-hora-retirada">
                            <label for="hora-retirada">Hora de retirada</label>
                            <input type="time" name="hora-retirada" id="hr-retirada" required/>
                        </div>
                    </div>
                    <div class="tempo-devolucao">
                        <div class="inputs-data-devolucao">
                            <label for="data-devolucao">Data de devolução do veículo</label>
                            <input type="date" name="data-devolucao" id="dt-devolucao" required/>
                        </div>
                        <div class="inputs-hora-devolucao">
                            <label for="hora-devolucao">Hora de devolução</label>
                            <input type="time" name="hora-devolucao" id="hr-devolucao" required/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="box-cards">
            <div class="card">
                <figure>
                    <img src="static/img/cards/card-car.png" alt="" width="95%" height="95%">
                </figure>
                <div class="header-card">
                    <h2>Carros Urbanos</h2>
                </div>
                <div class="card-text">
                    <p>Carros urbanos, compactos e eficientes em termos de combustível. Experimente a nova era da condução urbana.</p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="static/img/cards/card-moto.png" alt="" width="85%" height="95%">
                </figure>
                <div class="header-card">
                    <h2>2 rodas</h2>
                </div>
                <div class="card-text">
                    <p>Desfrute da liberdade de pilotar uma moto de qualidade e aproveite cada momento da sua jornada.</p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="static/img/cards/locacao.png" alt="" width="95%" height="105%">
                </figure>
                <div class="header-card">
                    <h2>Entrega e retirada</h2>
                </div>
                <div class="card-text">
                    <p>Oferecemos a comodidade de entregar e receber o veículo no local de sua escolha, como aeroportos, hotéis ou residências.</p>
                </div>
            </div>
</div>
{% endblock content %}