{% extends 'global/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<!--Existe uma div container no HTML base-->
<div class="reserve-container">
        <div class="reserve-details">

        </div>
        <div class="box-cards">
            <div class="card">
                <figure>
                    <img src="static/img/cards/card-car.png" alt="" width="230px" height="120px">
                    <h2>Carros Urbanos</h2>
                </figure>
                <br>
                <p>Carros urbanos, compactos e eficientes em termos de combustível. Experimente a nova era da condução urbana.</p>
            </div>
            <div class="card">
                <figure>
                    <img src="static/img/cards/card-moto.png" alt="" width="230px" height="120px">
                    <h2>2 rodas</h2>
                </figure>
                <br>
                <p>Desfrute da liberdade de pilotar uma moto de qualidade e aproveite cada momento da sua jornada.</p>
            </div>
            <div class="card">
                <figure>
                    <img src="static/img/cards/real-brasileiro.png" alt="" width="130px" height="120px">
                    <h2>Melhor Preço</h2>
                </figure>
                <br>
                <p>Na nossa plataforma de locação de veículos, <br>você encontrará os melhores preços do mercado.</p>
            </div>
        </div>
</div>
{% endblock content %}