<header>
    <div class="logotipo">
        <img src="../../../static/img/logo.png" alt="Logotipo do site" width="65px" height="65px">
        <h1>IN9CAR</h1>
    </div>
        <nav>
            <ul>
                <a href="">Home</a>
                <a href="">Minhas reservas</a>
                <a href="">Suporte</a>
            </ul>
        </nav>
            <div class="box-user">
                <div>
                    <a href="">Sign in</a>
                </div>
                <div class="box-cadastro">
                    <a href="">Sign Up</a>
                </div>
            </div>
</header>