<header>
    <div class="logotipo">
        <img src="static/img/carro.png" alt="Logotipo do site" width="65px" height="65px">
        <h1>IN9CAR</h1>
    </div>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Minhas reservas</a></li>
            <li><a href="">Suporte</a></li>
        </ul>
    </nav>
    <div class="box-user">
        <div>
            <a href="">Sign in</a>
        </div>
        <div class="box-cadastro">
            <a href="">Sign Up</a>
        </div>
    </div>
</header>